.header {
    position: relative;
    width: 100%;
    background-color: var(--color-background);
    &__row {
        width: 100%;
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            padding-top: 18px;
            padding-bottom: 18px;
            border-bottom: 1px solid var(--color-separator);
        }
        &--bottom{
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
    &__right {
        width: 100%;
    }
    &__tool {

    }
    &__button-megaMenu {
        &--is-active {
            position: relative;
            z-index: 100;
        }
    }

    &__search {
        flex: 2;
        &-form {
            width: 100%;
        }
        &-item {
            position: relative;
            width: 100%;
        }
        &-button {
            --size: 50px;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--size);
            height: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            &Icon {
                --size: 24px;
                width: var(--size);
                height: var(--size);
            }
        }
        &-input {
            width: 100%;
            padding-left: 50px;
        }
    }

    &__actions {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
    }
    &__action-phone {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: var(--color-text);
    }
    &__actions-list {
        display: flex;
        align-items: center;
        gap: 14px;
        &Item {
            display: inline-flex;
        }
        &Link {
            --size: 50px;
            min-width: var(--size);
            max-width: var(--size);
            height: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-border);
            border-radius: 50%;
            transition: backgrouns 2s, border 2s, color .2s;
            &:hover {
                color: var(--color-background);
                border-color: var(--color-primary);
                background-color: var(--color-primary);
                i {
                    color: var(--color-background);
                }
            }
            i {
                font-size: 24px;
                color: var(--color-text);
                font-weight: 500;
            }
        }
    }
}