.logo {
    &__link {
       display: flex;
       align-items: center;
        gap: 15px;
    }
    &__brand {
        width: 182px;
        height: 76px;
    }
    &__name {
        --width: 200px;
        min-width: var(--width);
        max-width: var(--width);
        font-size: 18px;
        font-weight: 500;
        color: var(--color-primary);
        text-transform: uppercase;
    }
}